name: Publish to Maven Central

on:
  release:
    types: [published]
  workflow_dispatch:     # permite rodar manualmente se quiser

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Publish & Release
        env:
          OSSRH_USERNAME: seasaltcorp
          OSSRH_PASSWORD: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        run: |
          ./gradlew publishAllPublicationsToSonatypeRepository closeAndReleaseRepository \
            --no-configuration-cache -PmavenCentral
